

<div class="container">
    <h2 class="mb-0">
        <a href="#cntrlID-{{ comment.id }}" class="btn btn-info" data-toggle="collapse">
            Post Id: {{ comment.postId  }} 
            <div>Comment Id: {{ comment.id }}</div>
        </a>
    </h2>
    <div id="cntrlID-{{ comment.id }}" class="collapse">
        <div class="card-body">
            <p><b>{{ comment.name }}</b></p>
            <p>{{ comment.email }}</p>
            <p>{{ comment.body }}</p>
        </div>
    </div>
</div>

  