.example-card {
  max-width: 400px;
  background-color: lightseagreen;
  color: black;
}

::ng-deep span.mat-content{
  color: black;
  flex-direction: column;
}
mat-card{
  background-color: rgb(10, 171, 235,0.15);
}
mat-card-subtitle{
  color: rgb(5, 0, 71);
}

