

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <p>Name: {{ usr.name }}</p>
        </mat-panel-title>
    </mat-expansion-panel-header>
        <p>Username: {{ usr.username }}</p> 
        <p>User Id: {{ usr.id }}</p> 
        <p>Email: {{ usr.email }}</p> 

</mat-expansion-panel>


<!-- id": number
    "name": string
    "username": string
    "email": string
    "address": {
      "street": string
      "suite": string
      "city": string
      "zipcode": string
      "geo": {
        "lat": string
        "lng": string
      }
    }
    "phone": string
    "website": string
    "company": {
      "name": string
      "catchPhrase": string
      "bs": string
    }
  } -->